<div class="d-flex flex-column bg-light p-3 shadow-sm" style="height: 100vh;">
    <h2 class="mb-1 text-primary" >Dashboard</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard/"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/"><i class="fas fa-users"></i> Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/employees/"><i class="fas fa-user-tie"></i> Manage Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reports/"><i class="fas fa-chart-line"></i> Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/settings/"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>